:root {
  --main-bg-color: #4b5563;
  --form-bg-gradient-color-light: #536b78;
  --form-bg-gradient-color-dark: #242e33;
  --element-color: #8992a9;
  --text-color: #f3f3f3;
  --complete-bg-color-light: #cfb043;
  --complete-bg-color-dark: #b1911f;
  --delete-bg-color-light: #9f5260;
  --delete-bg-color-dark: #7c1c2e;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0 2rem;
  font-family: $roboto-mono;
  color: var(--text-color);
  position: relative;
  z-index: -10;
  background-color: var(--main-bg-color);
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 80rem;
  margin: 0 auto;
  padding: 10rem 0;
  position: relative;
  z-index: -10;
}