.form {
  border: .01rem solid $gray;
  padding: 5rem;
  border-radius: 1.5rem;
  box-shadow: 0 .4rem .4rem rgba(black, .35);
  background: linear-gradient(180deg, rgba(226,213,179,1) 0%, rgba(157,145,113,1) 100%);
  margin-bottom: 8rem;

  display: grid;
  grid-gap: 1rem;

  &__title, &__value {
    max-width: 90%;
    padding: 1.5rem 0 1.5rem 2rem;
    border-radius: 1rem;
    outline: none;
    border: none;
  }
}

